<%= render "shared/header" %>

<div class="messages-room-frame">
  <div class="messages-room-name">
    <%= @group.name %>
  </div>

  <%= form_with model: @messages ,url:  group_messages_path, method: :post,id: "form" do |form| %>
    <%= form.text_area :content ,class: "text-long" %>
    <%= form.submit '投稿する' , id: "submit", class: "button-long"%>
  <% end %>

  <% @messages.each do |message| %>
  <div class="message-main-text">
    <div class="message-date">
      投稿日時：<%= message.created_at %>
    </div>
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>
<% end %>

</div>

