<%# <% content_for :css do %>
    <%# <%= stylesheet_link_tag 'groups/select' %>
<%# <% end %> 


<%= render "shared/header" %>

<div class ="top-select">
  <div class = "select-main">
    <div class = "explanation">
      <%= image_tag "155166_s.jpg" ,class: "sm-version"%>
    </div>
    <div class = "text-main">
      <ul class ="content">
        <li class ="center">ラクに通話しませんか？</li>
        <li class ="center">○ビデオ通話機能○</li>
        <li class ="center-exp">喋った内容をテキスト化し、ラクラク自動保存</li>
        <li class ="center">○チャット機能○</li>
        <li class ="center-exp">好きな相手とグループを作成し、自由にチャット</li>
      </ul>
    </div>
  </div>
  <div class = "work">
      <div class = "chat-function" >
        <%= image_tag "StockSnap_6DHV829ANC.jpg",class:"image" %>
        <span class = "chat-text">チャット機能</span>
        <div class = "chat-image">
          <%= link_to groups_path, class: "chat-sm" do %>
          <%= image_tag "chat_messages_14395.png", class:"chat-icon" %>
          <% end %>
        </div>
      </div>
      <div class = "video-function">
        <%= image_tag "3779255_m.jpg",class:"image" %>
        <span class = "video-text">ビデオ通話機能</span>
        <div class = "video-image">
          <%= link_to video_groups_path, class: "video" do %>
          <%= image_tag "blue_video_camera_film_12421.png", class:"video-icon" %>
          <% end %>
        </div>
      </div>
  </div>
</div>




