<%= render "shared/header" %>

<div class ="top-select">
  <div class = "select">
    <div class = "explanation">
      <%= image_tag "155166_s.jpg" %>
    </div>
    <div class = "text-main">
      <ul class ="content">
        <li class ="center">通話、ラクにしませんか？</li>
        <li class ="center">○ビデオ通話機能○</li>
        <li>喋った内容をテキスト化し、ラクラク自動保存</li>
        <li class ="center">○チャット機能○</li>
        <li>好きな相手とグループを作成し、自由にチャット</li>
      </ul>
    </div>
  </div>
  <div class = "work">
      <div class = "chat-function" >
        <%= image_tag "StockSnap_6DHV829ANC.jpg",class:"image" %>
        <span class = "chat-text">チャット機能</span>
        <div class = "chat-image">
          <%= image_tag "chat_messages_14395.png", class:"chat-icon" %>
        </div>
      </div>
      <div class = "video-function">
        <%= image_tag "3779255_m.jpg",class:"image" %>
        <span class = "video-text">ビデオ通話機能</span>
        <div class = "video-image">
          <%= image_tag "blue_video_camera_film_12421.png", class:"video-icon" %>
        </div>
      </div>
  </div>
</div>




